.form {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
   
}

.form input {
    width: 300px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.form textarea {
    width: 300px;
    padding: 30px 20px;
    border: none;
    border-radius: 10px;
}
.form input, .form textarea {
    font-size: 1.1em;
    outline:none;
    box-shadow: -1px 1px 34px 5px rgba(0,0,0,0.66);
    text-align: center;
}
.containerTextArea, .containerInput {
   
    display: flex;
    flex-direction: column;
}
.spanTextArea {
    color: red;
    position: absolute;
    margin-top: 110px;
}
.spanInput {
    margin-top: 10px;
    position: absolute;
    margin-top: 50px;
    color: red;
}

@media screen and (min-width:1024px) {
    .form input, .form textarea {
        width: 600px;
    }
}

