.main {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background: url(blocos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}